<!-- Footer -->
<footer class="fixed-bottom" id="footer">

  <div class="text-center p-4" style="color: white;" >
    © 2021 Copyright:
    <h4 style="color: white;">Designed by Vangel Iliev</h4>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->