{{> header}}
{{#if isLoggedIn}}
{{else}}
<div class="wrapper fadeInDown">
    <div id="formContent">
      <form action="#/Register" method="POST">
        <input type="email" id="emailRegister" class="fadeIn second" name="email" placeholder="Email">
        <input type="password" id="passwordRegister" class="fadeIn third" name="password" placeholder="Password">
        <input type="password" id="rePasswordRegister" class="fadeIn third" name="rePassword" placeholder="Repeat Password">
        <input type="submit" class="fadeIn fourth" value="Register">
      </form>
        
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Already have an account ?</a>
        <a href="#/LogIn" id="SignUp">Sign In</a>
      </div>
  
    </div>
  </div>
{{/if}}

{{> footer}}